# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

doc/api/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart
pubspec_overrides.yaml
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Build artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
**/ios/build
**/windows
**/linux
**/macos

# Build related
**/test-results
**/coverage
**/node_modules
clients/**/lib/src

# Config related
.env

# Widgetbook-related
widgets.mocks.dart
app.widgetbook.dart

# Firebase-related
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc
.firebase
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

# Server gherkin test report
server/report.json

test_result.txt

# Full coverage test files
full_coverage_test.dart